
footer {
    background-color: rgb(20,20,20);
    padding-top: 50px;
    color: white;
    line-height: 30px;
    text-align: center;
}

footer .centralizar{
    display: flex;
    flex-wrap: wrap;
}

footer h2{
    margin: 20px 0;
}


footer ul {
    list-style-type: none;
}


footer ul li a{
    color: white;
    text-decoration: none;
}

footer .bi{
    font-size: 20px;
    margin-right: 2px;
}

.footer-info {
    margin-top: 50px;
    text-align: center;
    padding: 15px;
    background-color: rgb(10,10,10);
}
