section#projetos {
    text-align: center;
    padding: 80px 10px;
    background-color: rgb(10, 10, 10);
    color: white;
    margin: 100px auto;
    font-size: 30px;
}

section#projetos h2 {
    margin-bottom: 50px;
}


.projetos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.projeto {
    height: 200px;
    border: 2px solid rgb(10, 10, 10);
    margin: 5px auto 50px auto;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}

.projeto:hover {
    transform: scale(1.5);
    background: rgb(10, 10, 10);
    border: 0;
    box-shadow: 0px 0px 20px 10px rgb(151, 151, 151);
    border-radius: 50%;
    z-index: 1;
}

.projeto a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
    transition: 0.3s;
}

.projeto a:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: inset 0px 0px 20px 50px rgb(10, 10, 10);
    border: 30px solid transparent;
    border-radius: 50%;
}

.projeto p {
    margin: 10px 0;
    border-radius: 20px;
    box-shadow: inset 0px 0px 20px rgb(10, 10, 10);
}



/* Animação da palavra loading --> */
.loading a {
    color: #333;
}

.loading a span {
    margin: 0 5px;
    animation: pulse 1.5s infinite ease-in-out;
}

.loading a span:nth-child(1) {
    animation-delay: 0s;
}

.loading a span:nth-child(2) {
    animation-delay: 0.2s;
}

.loading a span:nth-child(3) {
    animation-delay: 0.4s;
}

.loading a span:nth-child(4) {
    animation-delay: 0.6s;
}

.loading a span:nth-child(5) {
    animation-delay: 0.8s;
}

.loading a span:nth-child(6) {
    animation-delay: 1s;
}

.loading a span:nth-child(7) {
    animation-delay: 1.2s;
}

.loading a span:nth-child(8) {
    animation-delay: 1.4s;
}

.loading a span:nth-child(9) {
    animation-delay: 1.6s;
}

.loading a span:nth-child(10) {
    animation-delay: 1.8s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

/* <-- Animação da palavra loading */